@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    font-size: 0.9rem;
    font-weight: 500;
    color: $color-black;
    transition: color 0.3s ease;
  }

  &__input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba($color-black, 0.2);
    border-radius: 4px;

    font-family: inherit;
    font-size: 1rem;
    color: $color-black;

    background-color: $color-white;

    transition: all 0.3s ease;

    &::placeholder {
      color: rgba($color-black, 0.4);
    }

    &:hover {
      border-color: rgba($color-black, 0.5);
    }

    &:focus {
      border-color: $color-black;
      outline: none;
      box-shadow: 0 0 0 3px rgba($color-black, 0.1);
    }

    // Estilos de Autocomplete
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
