.process {
  padding: 100px 0;
  background-color: $color-gray-light;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 60px;

    @include mq($bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq($bp-desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.process-card {
  cursor: default;
  position: relative;
  padding: 40px 30px;
  background: $color-white;

  @include transition(all, 0.4s);

  &:hover {
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }

  &__number {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 4rem;
    font-weight: 900;
    color: rgba($color-black, 0.1);
  }

  &__title {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  &__link {
    transform: translateX(-10px);

    display: inline-flex;
    gap: 10px;
    align-items: center;

    margin-top: 20px;

    font-weight: 700;
    color: $color-black;
    text-decoration: none;

    opacity: 0;

    @include transition;
  }

  &:hover &__link {
    transform: translateX(0);
    opacity: 1;
  }
}
