@import './utils/vars';
@import './utils/mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.section-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;

  @include mq($bp-desktop) {
    font-size: 3.5rem;
  }

  &--light {
    color: $color-white;
  }
}
